
html, body {
    background-color: rgb(3, 3, 3);
  }
  
  /* Smaller icon on overview screen, Tobias 2021 0607 */
  .link-hotspot-overview {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    cursor: pointer;
  }
  
  #sceneList #overviewmimic {
    position: sticky;
    top:0px;
    height: 135px;
  
  }